{% macro login_block(form) %}
    <div class="">
        <form action="" method="POST" target="_self" autocomplete="off">
            {{ form.hidden_tag() }}
            <fieldset class="w-full">
                <div class="mb-3">
                    <Legend class="lato-bold">
                        Login to get back your previous predictions! 🌾
                    </Legend>
                </div>
                <div class="mb-3">

                    {{ form.email.label(class="form-label text-dark lato-regular")}}

                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg text-dark is-invalid border-success border-2")}}
                    {% else %}
                        {{ form.email(class="form-control form-control-lg text-dark border border-2") }}
                    {% endif %}

                    {% for error in form.email.errors %}
                        <div class="invalid-feedback text-danger">{{ error }}</div>
                    {% endfor %}

                </div>
                <div class="mb-3">

                    {{ form.password.label(class="form-label text-dark lato-regular")}}

                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg text-dark is-invalid border border-success border-2") }}
                    {% else %}
                        {{ form.password(class="form-control form-control-lg text-dark border border-2") }}
                    {% endif %}

                    {% for error in form.password.errors %}
                        <div class="invalid-feedback text-danger">{{ error }}</div>
                    {% endfor %}

                </div>
                <div class="mb-3">

                    <div class="">
                        {% if form.remember_me.errors %}
                            {{ form.remember_me(class="form-check-input is-invalid") }}
                        {% else %}
                            {{ form.remember_me(class="form-check-input border border-2 border-success") }}
                        {% endif %}
                        {{ form.remember_me.label(class="form-check-label text-dark lato-regular")}}
                    </div>

                    {% for error in form.remember_me.errors %}
                        <div class="invalid-feedback text-danger">{{ error }}</div>
                    {% endfor %}

                </div>
            </fieldset>
            <div class="mb-3">
                {{ form.Login(class="btn btn-success") }}
            </div>
        </form>
    </div>
{% endmacro %}